<?xml version="1.0" encoding="utf-8"?>
<packages>
  //paczka Dappler w wersji 1.60.6
  <package id="Dapper" version="1.60.6" targetFramework="net472" />
  //paczka System.Data.SQLite.Core w wersji 1.0.110.1
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net472" />
</packages>